/** Used for align the title in the navigation bar */
.rightMargin {
    margin-right: 450px;
}

/** Styles the border in the resume + courses pages to fit the contents */
.boxBorder {
    padding-left:50px;
    padding-right: 25px;
}

/** Grants the main title a particular font */
#mainTitle {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-weight: inherit;
}



/** Styles the icons in the footer bar */
.iconStyle {
    color: black;
}


/** Styles some of the Resume elements to be smaller, for better visual aesthetic */
.resumeFontSize {
    font-size: smaller;
}


/** Used in the Resume page to style some of the resume elements to be properly separated from eachother */
li {
    margin-top: 1em;
}


/** changes the form display in courses.html */
#form {
    display: flex;
}

/** changes the button margin in courses.html */
#button {
    margin-left: 1px;
}

/** Removes any underlining when hovering the icons in the footer bar. */


.iconUnderline:hover, .iconUnderline:focus, .iconUnderline:active, .iconUnderline {
    text-decoration: none !important;
    color: inherit !important;
}

.noLeftPadding {
    padding-left:0px !important;
}


.tf1{
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in;
    -moz-transition: opacity .5s ease-in;
        -ms-transition: opacity .5s ease-in;
        -o-transition: opacity .5s ease-in;
            transition: opacity .5s ease-in;
}
.tf2{
    opacity: 0;
    -webkit-transition: opacity 1.25s ease-in;
    -moz-transition: opacity 1.25s ease-in;
        -ms-transition: opacity 1.25s ease-in;
        -o-transition: opacity 1.25s ease-in;
            transition: opacity 1.25s ease-in;
}

.tf3 {
    opacity: 0;
    -webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
        -ms-transition: opacity 2s ease-in;
        -o-transition: opacity 2s ease-in;
            transition: opacity 2s ease-in;
}

.load {
    opacity: 1;
}
